/* Add margin bottom and top to each widgets */
.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

h1 {
    margin-bottom: 50px;
}

/* Set cursor to pointer on table with selectable rows */
.table-hover tr {
    cursor: pointer;
}

/* Set a red border to invalid input fields in forms */
input[type='text'].ng-invalid.ng-dirty, input[type='email'].ng-invalid.ng-dirty,
input[type='number'].ng-invalid.ng-dirty, input[type='password'].ng-invalid.ng-dirty {
    border-color: #C00;
    border-width: 1px;
}

/* Add a red star after required inputs */
.control-label--required:after {
    content: " *";
    color: #C00;
}
.btn-invalid {
    border-color: #C00;
    border-width: 1px;
}

.text-upperCase {
    text-transform: uppercase;
}

.bonita-modal {
    overflow-y: auto;
}

.modal-open .datepicker,
.modal-open .timepicker {
    z-index: 9999;
}

/*Custom CSS*/
.case-input {
    padding-right: 0;
}

.case-input label {
    padding-right: 0;
}

.case-input input {
    margin-left: 10px;
}

.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.isDisabled a {
    pointer-events: none;
    text-decoration: none;
}

.filters-container {
    padding-top: 20px;
    padding-bottom: 10px;
}

.filter-widget {
    padding-left: 10px;
    padding-right: 0;
}

.mr-0.component {
    margin-right: 0;
}

.p-0,
.p-0 a,
.p-0 button {
    padding: 0;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.pr-5.component {
    padding-right: 5px;
}

.pt-5.component {
    padding-top: 5px;
}

.pl-15 p {
    padding-left: 15px;
}

.pl-50 {
    padding-left: 50px;
}

.case-item {
    border-bottom: 1px solid lightgray;
    overflow: hidden;
    transition: 0.3s;
    padding-top: 1rem;
}

.case-item p  {
    margin-bottom: 0;
}

.case-item:hover {
    box-shadow: 0 0 5px;
    margin-top: 0;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.item-label {
    font-size: 11px;
    opacity: 0.6;
    margin: 0;
    padding-right: 0;
    word-wrap: break-word;
    word-break: break-word;
    font-weight: bold;
}

.item-value {
    font-size: 14px;
    margin: 0 0 3px 0;
    padding-right: 0;
    word-wrap: break-word;
    word-break: break-word;
    padding: 0;
}

.caseID .btn {
    display: inline;
    padding: 0;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    white-space: normal;
}

.search-keys-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-keys-container>div{
    padding-right: 5px;
}

.line-seperator hr {
    margin-top: 0;
    margin-bottom: 0;
}

h3 .glyphicon-info-sign {
    font-size: 1.5rem;
    opacity: 0.6;
}

.text-center p {
    text-align: center;
}

.dropdown-menu {
    position: absolute;
    top: 35px;
    width: 300px;
    display: block;
    float: left;
    margin-left: 15px;
    text-align: left;
    z-index: 1000;
}

.dropdown-menu button {
    width: 100%;
    text-align: left;
}

.dropdown-menu button:hover,
.dropdown-menu-right button:hover {
    background: #2c3e50;
    color: #fff;
    width: 100%;
    text-decoration: none;
    text-align: left;
}

/* Spinner */
.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.tab-content .tab-pane .row:nth-child(2),
.tab-content .tab-pane .row:nth-child(2)>div,
.item-label-container > .row{
    display: contents;
}

.tab-content .tab-pane > div > div > div > .row:nth-child(2) {
    display: block;
    position: sticky;
    z-index: 2;
    top: -15px;
}

.item-label-container {
    position: sticky;
    margin-top: 15px;
    top: 2px;
    padding-top: 10px;
    font-size: 13px;
    word-wrap: break-word;
    word-break: break-word;
    font-weight: bold;
    z-index: 2;
    border-radius: 5px;
    margin-left: -15px;
    width: calc(100% + 3rem);
}


/* For mobile view only */
.mobile-action-buttons-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
}

.mobile-action-buttons-container .row {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .action-button-container {
        margin-top: 15px;
    }

    .action-button-container i {
        padding: 12px;
        border-radius: 50%;
        line-height: 1rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .action-button-container a,
    .action-button-container button {
        background-opacity: 1;
    }
}