/* Add margin bottom and top to each widgets */
.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

h1{
    margin-bottom: 50px;
}

/* Set cursor to pointer on table with selectable rows */
.table-hover tr {
    cursor: pointer;
}

/* Set a red border to invalid input fields in forms */
input[type='text'].ng-invalid.ng-dirty, input[type='email'].ng-invalid.ng-dirty,
input[type='number'].ng-invalid.ng-dirty, input[type='password'].ng-invalid.ng-dirty {
  border-color: #C00;
  border-width: 1px;
}

/* Add a red star after required inputs */
.control-label--required:after {
  content: " *";
  color: #C00;
}

.btn-invalid{
    border-color: #C00;
    border-width: 1px;
}

.tenantStateLabel{
    font-size: larger;   
}

.text-upperCase{
    text-transform: uppercase;
}

.page {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}

.SubHeading {
    border-bottom: 1px #e1e4e8 solid;
    padding-bottom: 8px;
    margin-bottom: 20px;
    color: #2c3e50;
}

.bonita-modal{
    overflow-y: auto;
}

.modal-open .datepicker,
.modal-open .timepicker {
    z-index: 9999;
}

/* Spinner */
.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}