.shadow-box-border-right {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: transparent;
  opacity: 1;
}

.flex-container {
  /* Add shadows to create the "card" effect */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: .8em .0em .8em .8em;
  margin: .5em auto 1em auto ;
  background-color: #f8f9fa;
  color: #5c5d75;
}

.flex-container p {
    flex: fit-content;
}

.fade.ng-hide-add,
.fade.ng-hide-remove {
  transition: all linear 0.5s;
}
.fade.ng-hide  {
  opacity:0;
}

/*.delayed-display {*/
/*  animation: 3s fadeIn;*/
/*  animation-fill-mode: forwards;*/
  
/*  visibility: hidden;*/
    
/*}*/

/*.fade-in .ng-enter {*/
/*  transition:0.5s linear all;*/
/*  opacity:0;*/
/*}*/

/*.fade-in .ng-enter.ng-enter-active {*/
/*  opacity:1;*/
/*}*/


/*.fade-out .ng-leave {*/
/*  transition:0.5s linear all;*/
/*  opacity:1;*/
/*}*/

/*.fade-out .ng-leave.ng-leave-active {*/
/*  opacity:0;*/
/*}*/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .flex-container p {
      margin: 0;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .flex-container p {
      margin: 0;
    }
}

/*@keyframes fadeIn {*/
/*  99% {*/
/*    visibility: hidden;*/
/*  }*/
/*  100% {*/
/*    visibility: visible;*/
/*  }*/
/*}*/