.shadow-box-border-left {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: transparent;
  opacity: 1;
  margin-top: 1em;
}

.flex-container {
  /* Add shadows to create the "card" effect */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  padding: .8em .0em .8em .8em;
  margin: .5em auto 1em auto ;
  background-color: #f8f9fa;
  color: #5c5d75;
}

.flex-container p{
    margin: 0;
}


.fade.ng-hide-add,
.fade.ng-hide-remove {
  transition: all linear 0.5s;
}
.fade.ng-hide  {
  opacity:0;
}