/* vertical tabs */
/*.nav-tabs>li>a,*/
/*.nav-tabs>li.active>a, */
/*.nav-tabs>li.active>a:hover, */
/*.nav-tabs>li.active>a:focus {*/
/*    border: none;*/
/*}*/

@media (min-width:  768px) {
    .tab-vertical .nav {
        float: left;
        width: 20%;
    }

    .tab-vertical .tab-content {
        float: left;
        width: 80%;
    }
}


/* Add margin bottom and top to each widgets */
.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

h1 {
    margin-bottom: 50px;
}

/* Set cursor to pointer on table with selectable rows */
.table-hover tr {
    cursor: pointer;
}

/* Set a red border to invalid input fields in forms */
input[type='text'].ng-invalid.ng-dirty, input[type='email'].ng-invalid.ng-dirty,
input[type='number'].ng-invalid.ng-dirty, input[type='url'].ng-invalid.ng-dirty,
input[type='password'].ng-invalid.ng-dirty {
  border-color: #C00;
  border-width: 1px;
}

/* Add a red star after required inputs */
.control-label--required:after {
  content: " *";
  color: #C00;
}
.btn-invalid {
    border-color: #C00;
    border-width: 1px;
}

.text-upperCase {
    text-transform: uppercase;
}

.bonita-modal {
    overflow-y: auto;
}

.modal-open .datepicker,
.modal-open .timepicker {
    z-index: 9999;
}

/* Custom css */

.p-0,
.p-0 a {
    padding: 0;
}

.pl-0,
.pl-0.component {
    padding-left: 0;
}

.pl-10 {
    padding-left: 10px;
}

.pr-0,
.pr-0.component {
    padding-right: 0;
}

.pr-20 {
    padding-right: 20px;
}

.pt-0,
.pt-0.component,
.pt-0 a,
.pt-0 button {
    padding-top: 0;
}

.pt-5.component {
    padding-top: 5px;
}

.pb-0,
.pb-0.component,
.pb-0 button {
    padding-bottom: 0;
}

.pb-20 {
    padding-bottom: 20px;
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.px-3 {
    padding-inline: 3rem;
}

.m-auto {
    margin: auto;
}

.mb-0,
.mb-0.component {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.ml-0,
.ml-0.component {
    margin-left: 0;
}

.ml-5,
.ml-5 {
    margin-left: 5px;
}

.mr-0,
.mr-0.component {
    margin-right: 0;
}

.mt-0,
.mt-0.component {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-20 {
    margin-top: 20px;
}

.process-variable-item {
    border-bottom: 1px solid lightgray;
    overflow: hidden;
    transition: 0.3s;
    padding: 0;
}

.process-variable-item p  {
    margin-bottom: 0;
}

.item-label,
.item-label p,
.item-label.component {
    font-size: 11px;
    margin: 0;
    word-wrap: break-word;
    word-break: break-word;
}

.item-value,
.item-value a,
.item-value p {
    font-size: 12px;
    margin: 0;
    word-wrap: break-word;
    word-break: break-word;
}

.item-value a {
    padding: 0;
}

.item-value.capitalize-first-letter p:first-letter {
    text-transform: uppercase;
}

.comments {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-left: 0;
}

.comments p {
    margin: 0 0 5px 10px;
}

.process-variable-value p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 15px;
}

.process-variable-value p:hover {
    overflow: visible;
    text-overflow: unset;
    max-height: 100%;
    white-space: inherit;
}

.tab-content .tab-pane .row:nth-child(1),
.tab-content .tab-pane .row:nth-child(1)>div,
.item-label-container > .row{
    display: contents;
}

.tab-content .tab-pane > div > div > div > .row:nth-child(1) {
    display: block;
    position: sticky;
    z-index: 2;
    top: -15px;
}

.item-label-container {
    position: sticky;
    margin-top: 15px;
    top: 2px;
    padding-top: 10px;
    font-size: 13px;
    word-wrap: break-word;
    word-break: break-word;
    font-weight: bold;
    z-index: 2;
    border-radius: 5px;
    margin-left: -15px;
    width: calc(100% + 3rem);
}

.action-buttons-container {
    .row {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: -webkit-fill-available;
        
        button {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

/* For mobile view only */
.mobile-action-buttons-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
}

.mobile-action-buttons-container .row {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

/* Spinner */
.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 700px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    background: #fff;
    padding: 0;
}

.ngdialog.ngdialog-theme-default {
    padding-top: 30px;
}

@media screen and (max-width: 767px) {
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        width: 75%;
    }
}

.case-title p {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-weight:bold;
}

.w-auto {
    width: auto;    
}

.panel-primary {
    .panel-heading {
        color: #fff;
        background-color: #2c3e50;
        border-color: #ddd;
        margin: 0;
        padding: 0 10px;
    }
    
    .link-height .text-left {
        line-height: 1;
        
        a {
            text-align: left;
        }
    }
}
    
.panel-danger {
    .panel-heading {
        color: #fff;
        background-color: #c71c22;
        border-color: #ddd;
        margin: 0;
        padding: 0 10px;

    }
    
    .panel-body {
        padding: 15px;
    }
}

.dl-horizontal {
    dt, dd {
        line-height: 1;
        white-space: normal;
        word-break: break-word;
    }
    
    dd {
        text-align: left;
    }
}

.panel-footer-text p {
    margin-bottom: 0;
}

.overflow-scroll {
    max-height: 100%;
    height: 300px;
    overflow-y: auto;
}

@media screen and (min-width: 768px) {
    .dl-horizontal {
        dt {
            width: 15em;
        }
        
        dd {
            margin-left: 16em;
        }
    }
}

.monitoring-flownodes-container {
    overflow: hidden;
    transition: 0.3s;
    margin-block-end: 10px;

}

.no-click {
   pointer-events: none;
}

.line-height-1 {
    line-height: 1;
}

.btn-show-hide-errors button:hover {
    text-decoration: none;
}

.failed-count {
    padding-inline-start: 3.4rem
}

.flownode-link {
    padding-left: 2px;
    
    a,
    a:hover,
    a:active,
    a:focus {
        text-decoration: none;    
    }
}

.modal-body .form-group {
    label.control-label {
        margin-bottom: 0;
    }
    
    p.form-control-static {
        padding-top: 0;
        min-height: max-content;
    }
}