.List {
    position: relative;
}

.List .label {
    margin: 2.5px;
}

.List .panel-heading {
    display: flex;
}

.List .panel-heading .panel-title {
    flex: 1;
}

.List-heading-right {
    display: flex;
    margin: -10px -15px -10px 0;
    float: right;
}
.List-heading-right > .List-pagination-top {
    margin: auto;
    padding: 0 10px;
}

.List-pagination-bottom {
    position: absolute;
    right: 0;
    padding: 10px 8px;
}

.List-name .glyphicon {
    margin-right: 12px;
    font-size: 10px;
}