/* Add margin bottom and top to each widgets */
.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

/* Set cursor to pointer on table with selectable rows */
.table-hover tr {
    cursor: pointer;
}

/* Set a red border to invalid input fields in forms */
input[type='text'].ng-invalid.ng-dirty, input[type='email'].ng-invalid.ng-dirty,
input[type='number'].ng-invalid.ng-dirty, input[type='password'].ng-invalid.ng-dirty {
    border-color: #C00;
    border-width: 1px;
}

/* Add a red star after required inputs */
.control-label--required:after {
  content: " *";
    color: #C00;
}
.btn-invalid{
    border-color: #C00;
    border-width: 1px;
}

.bonita-modal{
    overflow-y: auto;
}

.modal-open .datepicker,
.modal-open .timepicker {
    z-index: 9999;
}


/* resources list page CSS starts here */

.install-btn {
    margin-top: 20px;
}

.resource-item {
    border-bottom: 1px solid lightgray;
    overflow: hidden;
    transition: 0.3s;
    padding-top: 0.5rem;
}

.resource-item p  {
    margin-bottom: 0;
}

.resource-item:hover {
    box-shadow: 0 0 5px;
    margin-top: 0px;
}

.resource-property-label {
    font-size: 11px;
    opacity: 0.6;
    margin: 0;
    padding-right: 0;
    word-wrap: break-word;
    word-break: break-word;
}

.resource-property-value {
    font-size: 12px;
    margin: 0 0 3px 0;
    padding-right: 0;
    word-wrap: break-word;
    word-break: break-word;
}

.filters-container {
    padding-top: 20px;
    padding-bottom: 10px;
}

.filter-widget {
    padding-left: 10px;
    padding-right: 0;
}

.pl-0.component {
    padding-left: 0;
}

.pr-0.component {
    padding-right: 0;
}

.pt-5,
.pt-5.component {
    padding-top: 5px;
}


.ml-0.component {
    margin-left: 0;
}

.mr-0.component {
    margin-right: 0;
}

.description {
    padding-bottom: 6px;
    padding-left: 0;
}

.is-provided-icon-container {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
}

.is-provided-icon{
    width: 1em;
}

.main-container .row:nth-child(3),
.main-container .row:nth-child(3) > div,
.item-label-container > .row{
    display: contents;
}

.main-container > .row:nth-child(3) {
    display: block;
    position: sticky;
    z-index: 2;
    top: -15px;
}

.action-button-container a,
.action-button-container button {
    padding: 0;
}

.item-label-container {
    position: sticky;
    margin-top: 15px;
    top: 2px;
    padding-top: 10px;
    font-size: 13px;
    word-wrap: break-word;
    word-break: break-word;
    font-weight: bold;
    z-index: 2;
    border-radius: 5px;
    margin-left: -15px;
    width: calc(100% + 3rem);
}

/* For mobile view only */
.mobile-action-buttons-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
}

.mobile-action-buttons-container .row {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

/* Spinner */
.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
