/* Add margin bottom and top to each widgets */
.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

h1{
    margin-bottom: 50px;
}

/* Set cursor to pointer on table with selectable rows */
.table-hover tr {
    cursor: pointer;
}

/* Set a red border to invalid input fields in forms */
input[type='text'].ng-invalid.ng-dirty, input[type='email'].ng-invalid.ng-dirty,
input[type='number'].ng-invalid.ng-dirty, input[type='password'].ng-invalid.ng-dirty {
  border-color: #C00;
  border-width: 1px;
}

/* Add a red star after required inputs */
.control-label--required:after {
  content: "*";
  color: #C00;
}
.btn-invalid{
    border-color: #C00;
    border-width: 1px;
}

.text-upperCase{
    text-transform: uppercase;
}

.bonita-modal{
    overflow-y: auto;
}

.modal-open .datepicker,
.modal-open .timepicker {
    z-index: 9999;
}

/* Resources page CSS starts here */

.noMargin{
    margin: 0;
}

.noPadding{
    padding: 0;    
}

.colorWhite{
	color: #fff;
}

.colorBlue{
	color: #0b4361;
}

.colorGray{
    color  : #95a5a6;
}

.colorLightBlue{
    background: #337ab7;
}

.colorRed{
    color: #dd0033;
}

.customPadding{
    padding: 10px 6px 0 0;    
}

.noPadding{
    padding: 0;    
}
.scrollInBody{
    overflow-y: auto;
    height: 80vh;
}

.itemContainer{
    pointer-events: none;
}

.itemContainer > * {
    border-radius: 5px;
    background: #fff;
    padding: 1rem 1rem;
    opacity: 0.9;
    pointer-events: auto;
    transition: 300ms opacity, 300ms transform;
}

.app-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  /*  border: 1px solid lightgray; */
    overflow: hidden;
    height: 4.5em;
}


.app-item:hover{
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.itemImage img{
    width: 100%;
	filter: grayscale(1);
	transform: translate(15%, 30%);
	opacity: 0.7;
}

.itemName h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    font-weight: 550;
}


.itemDescription p {
    overflow: hidden;
    position: relative; 
    line-height: 1em;
    max-height: 1em; 
    margin-right: -1em;
    padding-right: 1em;
    font-size: 0.89em;
    vertical-align: text-top;
    text-align: justify;
    top: -8px;
    left: 5.2em;
}

.itemDescription p:before {
    content: '...';
    position: absolute;
    right: 3px;
    bottom: 0;
}

.itemDescription p:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}


.fontSize-12{
    font-size: 12px;
}

.customPadding{
    padding: 10px 6px 0 0;    
}


.lastUpadtedDate p{
    font-size: 0.8em;
    text-align: center;
}

/*========================== Responsiveness ===========================*/

@media (min-width: 768px) and (max-width: 991px){
    .itemImage{
        width: calc(100% + 10px);
        transform: translate(0%, 15%);
    }
    
    .itemName h5{
      font-size: 13px;
    }
    
    .itemDescription p{
       left: 4em;
       left: 4em;
    }
    
}


@media (max-width: 767px){
    
    .app-item{
        height: auto;
    }
    
    .itemImage img {
        position: absolute;
        width: 70%;
        top: -5px;
        left: 0;
    }
    
    .itemName h5 {
        transform: translate(-5%, -20%);
        width: 16em;
    }
    
    .itemDescription p{
        position: relative;
        top: -1.2em;
        left: 3em;
    }
    
    .more{
        position: absolute;
        bottom: -10px;
        right: 25px;
    }
    
    .lastUpadtedDate p{
        position: relative;
        top: 40px;
        right: 155px;
        text-align: left;
    }
}
