.mbe-0 {
    margin-block-end: 0;
}

.alert {
    padding: 5px 10px;
    border-bottom: 3px solid;
    border-radius: 0;
}

.alert-title {
    font-size: 15px;
    font-weight: bold;
    margin-block-end: 5px;
}

.no-show-input-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    margin-block-start: 5px;
}

.no-show-input-container input[type="checkbox"].no-show-input {
    margin: 0;
}

.no-show-input-container .no-show-message {
    font-weight: normal;
    margin: 0;
}