//Predifined variables can be found here (need to run a build first):
//${project.basedir}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variable.scss

//Bonita brand palette
$bonita-green:       #B1F99D;
$bonita-burgundy:    #5C1932;
$bonita-black:       #101010;
$bonita-dark-brown:  #36302C;
$bonita-plum:        #723253;
$bonita-lila:        #A98BE1;
$bonita-grey-medium: #E0E0E0;
$bonita-grey:        #F3F3F1;
$bonita-white:       #FFFFFF;

//Brand colors
$brand-primary: $bonita-burgundy;
$brand-success: #008000;
$brand-info: #033c73;
$brand-warning: #dd5600;
$brand-danger: #c71c22;

$gray-light: #999999;
$white: $bonita-white;

//Text
$text-color: $bonita-black;

$headings-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-line-height:   1.2;

$state-success-text: #468847;
$state-info-text: #3a87ad;
$state-warning-text: #c09853;
$state-danger-text:  #b94a48;

//Components
$padding-large-vertical: 14px;

//Input
$input-color: $text-color;
$input-height-large: 54px;

//Modals
$modal-inner-padding : 20px;

//Buttons
$btn-default-color: $text-color;
$btn-default-border: rgba(0, 0, 0, 0.1);

$btn-primary-border: $brand-primary;
$btn-success-border: $brand-success;
$btn-info-border: $brand-info;
$btn-warning-border: $brand-warning;
$btn-danger-border: $brand-danger;

$btn-primary-disabled-bg: $bonita-grey-medium;
$btn-primary-disabled-border: $btn-primary-disabled-bg;
$btn-primary-disabled-color: $bonita-white;

//Navbar
$navbar-default-color: #dddddd;
$navbar-default-bg: $brand-primary;
$navbar-default-link-color: $white;
$navbar-default-brand-hover-color: $white;
$navbar-default-link-hover-color: $white;
$navbar-default-link-hover-bg: darken($brand-primary, 8%);
$navbar-default-link-active-bg: darken($brand-primary, 8%);
$navbar-default-link-active-color: $white;
$navbar-default-link-disabled-color: #dddddd;
$navbar-default-toggle-hover-bg: darken($brand-primary, 8%);
$navbar-default-toggle-icon-bar-bg: $white;
$navbar-default-toggle-border-color: darken($brand-primary, 8%);

$navbar-inverse-bg: $brand-primary;
$navbar-inverse-color: $white;
$navbar-inverse-link-color: $white;

$navbar-inverse-link-hover-bg: darken($brand-primary, 8%);
$navbar-inverse-link-active-bg: darken($brand-primary, 8%);
$navbar-inverse-link-disabled-color: #cccccc;

$navbar-inverse-toggle-border-color: darken($brand-primary, 8%);
$navbar-inverse-toggle-hover-bg: darken($brand-primary, 8%);
$navbar-inverse-toggle-icon-bar-bg: $white;

//Dropdown
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $brand-primary;

//Pagination
$pagination-color: $white;
$pagination-bg: $brand-primary;
$pagination-border:  transparent;

$pagination-hover-color: $pagination-color;
$pagination-hover-bg: darken($brand-primary, 15%);
$pagination-hover-border: transparent;

$pagination-active-bg: darken($brand-primary, 15%);
$pagination-active-border: transparent;

$pagination-disabled-color: $bonita-grey;
$pagination-disabled-bg: lighten($brand-primary, 25%);
$pagination-disabled-border: transparent;

//Pager
$pager-color: $pagination-color;
$pager-bg: $brand-primary;
$pager-hover-color: $pagination-hover-color;

//Badge
$badge-bg: $brand-primary;

//Panel
$panel-border-color: #dddddd;
$panel-primary-border: $panel-border-color;
$panel-primary-text: #fff;
$panel-success-border: $panel-border-color;
$panel-success-text: $panel-primary-text;
$panel-info-border: $panel-border-color;
$panel-info-text: $panel-primary-text;
$panel-warning-border: $panel-border-color;
$panel-warning-text: $panel-primary-text;
$panel-danger-border: $panel-border-color;
$panel-danger-text: $panel-primary-text;

$panel-success-heading-bg: $brand-success;
$panel-info-heading-bg: $brand-info;
$panel-warning-heading-bg: $brand-warning;
$panel-danger-heading-bg: $brand-danger;

//Glyphicons fonts
$icon-font-path: "./fonts/";