html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ProcessList .Instantiation {
  height: 100%;
  display: flex;
  border: none;
  transition: transform 0.3s, opacity 0.3s;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.transition-wrapper {
  position: relative;
  z-index: 1;
}

.transition-wrapper .transition-item {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.ProcessList-alerts {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  padding: 1rem 1rem 0 1rem;
}
