/* Add margin bottom and top to each widgets */
.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

/* Set cursor to pointer on table with selectable rows */
.table-hover tr {
    cursor: pointer;
}

/* Set a red border to invalid input fields in forms */
input[type='text'].ng-invalid.ng-dirty, input[type='email'].ng-invalid.ng-dirty,
input[type='number'].ng-invalid.ng-dirty, input[type='password'].ng-invalid.ng-dirty {
  border-color: #C00;
  border-width: 1px;
}

/* Add a red star after required inputs */
.control-label--required:after {
  content: "*";
  color: #C00;
}
.btn-invalid{
    border-color: #C00;
    border-width: 1px;
}

.bonita-modal{
    overflow-y: auto;
}

.modal-open .datepicker,
.modal-open .timepicker {
    z-index: 9999;
}

/* Custom CSS */
.customContainer{
    margin-top: 3em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title{
    background:  #fff;
    color: #2b3e50;
    border-radius: 10px;
}

.title h3{
    font-weight: 600;
}

.subTitle{
    margin-top: 1.5em;   
}

.content p{
    font-size: 1em;
    text-align: justify;
}

.content a, .content a:hover, .content a:visited, .content a.focus, .content a:active{
    text-decoration: none;
}
