/* Add margin bottom and top to each widgets */
.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

h1 {
    margin-bottom: 50px;
}

/* Set cursor to pointer on table with selectable rows */
.table-hover tr {
    cursor: pointer;
}

/* Set a red border to invalid input fields in forms */
input[type='text'].ng-invalid.ng-dirty, input[type='email'].ng-invalid.ng-dirty,
input[type='number'].ng-invalid.ng-dirty, input[type='password'].ng-invalid.ng-dirty {
  border-color: #C00;
  border-width: 1px;
}

/* Add a red star after required inputs */
.control-label--required:after {
  content: " *";
  color: #C00;
}
.btn-invalid {
    border-color: #C00;
    border-width: 1px;
}

.text-upperCase {
    text-transform: uppercase;
}

.bonita-modal {
    overflow-y: auto;
}

.modal-open .datepicker,
.modal-open .timepicker {
    z-index: 9999;
}

/* Case list page CSS starts here */
.mr-0.component {
    margin-right: 0;
}

.case-item {
    border-bottom: 1px solid lightgray;
    /*box-shadow: 0 1px 2px 0;*/
    overflow: hidden;
    transition: 0.3s;
    padding-top: 0.5rem;
}

.case-item p  {
    margin-bottom: 0;
}

.case-item:hover {
    box-shadow: 0 0 5px;
    margin-top: 0px;
}

.case-property-label {
    font-size: 11px;
    opacity: 0.6;
    margin: 0;
    padding-right: 0;
    word-wrap: break-word;
    word-break: break-word;
}

.case-property-value {
    font-size: 12px;
    margin: 0 0 3px 0;
    padding-right: 0;
    word-wrap: break-word;
    word-break: break-word;
}

.search-keys-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-keys-container>div{
    padding-right: 5px;
}

.filters-container {
    padding-top: 20px;
    padding-bottom: 10px;
}

.filter-widget {
    padding-left: 10px;
    padding-right: 0;
}

.caseID .btn {
    display: inline;
    padding: 0;
    font-size: 12px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    white-space: normal;
}

.line-seperator hr {
    margin-top: 0;
    margin-bottom: 0;
}

.isDisabled { 
    cursor: not-allowed;
    opacity: 0.5;
}

.isDisabled a {
    pointer-events: none;
    text-decoration: none;
}

.case-input {
    padding-right: 0;
}

.case-input label {
    padding-right: 0;
}

.case-input input {
    margin-left: 10px;
}

/* Spinner */
.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}