/* Add margin bottom and top to each widgets */
.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

h1 {
    margin-bottom: 50px;
}

/* Set cursor to pointer on table with selectable rows */
.table-hover tr {
    cursor: pointer;
}

/* Set a red border to invalid input fields in forms */
input[type='text'].ng-invalid.ng-dirty, input[type='email'].ng-invalid.ng-dirty,
input[type='number'].ng-invalid.ng-dirty, input[type='password'].ng-invalid.ng-dirty {
  border-color: #C00;
  border-width: 1px;
}

/* Add a red star after required inputs */
.control-label--required:after {
  content: "*";
  color: #C00;
}
.btn-invalid {
    border-color: #C00;
    border-width: 1px;
}

.text-upperCase {
    text-transform: uppercase;
}

.bonita-modal {
    overflow-y: auto;
}

.modal-open .datepicker,
.modal-open .timepicker {
    z-index: 9999;
}

/* Case list page CSS starts here */

.case-item {
    border-bottom: 1px solid lightgray;
    /*box-shadow: 0 1px 2px 0;*/
    transition: 0.3s;
    overflow: hidden;
    padding-top: 0.5rem;
}

.case-item p  {
    margin-bottom: 0;
}

.case-item:hover {
    box-shadow: 0 0 5px;
    margin-top: 0px;
}

.case-property-label {
    font-size: 0.8em;
    opacity:0.6;
}

.case-property-value {
    font-size: 12px;
}

.search-keys-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-keys-container>div {
    padding-bottom: 0.5em;
}

.searchKeys{
    background: linear-gradient(360deg, #e0f4e926, #e8e1e157);
    transition: 0.2s ease-in-out;
}

.case-item:hover .searchKeys{
    background: linear-gradient(360deg, #e0f4e9c2, #e0f4e926);
}

.no-padding-right{
    padding-right: 0;
}

.test{
    position: absolute ;
    top: 0;
    left: -100px;
    padding: 0;
    transition: left 0.6s ease;
}

.case-item:hover .test{
    left: 5px;
    top: 30px;
}   