.navbar-brand {
    max-width: 80%;
    padding-right: 0px;
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.max-title-width {
    display: block;
    max-width: 80%;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-account {
    text-align: left;
}
