#filter form {
  display: flex; }
  #filter form #filter-search {
    display: flex;
    margin-left: auto; }
    #filter form #filter-search .form-control {
      padding-right: 52px; }
    #filter form #filter-search .btn {
    margin: auto 0 auto -40px;
    border: 0;
    height: 32px;
    background-color: #fff; }
    #filter form #filter-search .btn:hover {
      color: #111; }