
.Filters form {
    display: flex;
}

.Filters form .Filters-search {
    display: flex;
    margin-left: auto;
}

.Filters form .Filters-search .form-control {
    padding-right: 52px;
}

.Filters form .Filters-search .btn {
    margin: auto 0 auto -40px;
    border: 0;
    height: 32px;
    background-color: #fff;
}

.Filters form .Filters-search .btn:hover {
    color: #111;
}