.List .label {
  margin: 2.5px;
}

.List .panel-heading {
  display: flex;
}

.List .panel-heading .panel-title {
  flex: 1;
}

.List-info {
  display: flex;
  margin: -10px -15px -10px 0;
  float: right;
}
.List-info p {
  margin: auto;
  padding: 0 10px;
}
