@charset "UTF-8";
#list .label {
  margin: 2.5px; }

#list .panel-heading {
  display: flex; }
  #list .panel-heading .panel-title {
    flex: 1; }

#list-info {
  display: flex;
  margin: -10px -15px -10px 0;
  float: right; }
  #list-info p {
    margin: auto;
    padding: 0 10px;
    border-right: 1px solid #ccc; }
  #list-info .btn {
    border: none; }