"project_identifier": "@PROJECT_NAME@"
"api_key": "@PROJECT_API_KEY@"
"base_path": "@PATH_ON_CI@"
"preserve_hierarchy": true

"files": [
    {
        "source": "/bonita-web-pages/uid-pages/**/crowdin/en/localization.json",
        "translation": "/bonita-web-pages/uid-pages/**/crowdin/%locale%/%original_file_name%"
    }
]
