.Filters form {
  display: flex;
}

.Filters form .Filters-search {
  display: flex;
  margin-left: auto;
}

.Filters form .Filters-search .form-control {
  padding-right: 52px;
}

.Filters form .Filters-search .Filters-search-clear {
  margin: auto 0 auto -32px;
  padding: 6px 8px;
  border: none;
}

.Filters form .Filters-search .Filters-search-submit {
  margin-left: 5px;
}

.Filters form .Filters-search .btn {
  font-size: 14px;
}

.Filters form .Filters-search .btn:hover {
  color: #000;
}
