.Filters form .Filters-search {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1px 40px;
  -ms-grid-columns: 1fr 1px 40px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.search-tooltip {
  padding-right: 100px;
  grid-row: 2;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
}

.Filters .Filters-category {
  margin-bottom: 10px;
}

.Filters-search-clear:hover {
  cursor: pointer;
}

.Filters form .Filters-search .Filters-search-clear {
  margin: auto 0 auto -32px;
  padding: 6px 8px;
  border: none;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.Filters form .Filters-search .Filters-search-submit {
  margin-left: 5px;
  width: 40px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.Filters form .Filters-search .btn {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .Filters .panel-body {
    display: flex;
  }

  .Filters form {
    flex: 1;
    align-self: flex-end;
    display: flex;
  }

  .Filters form .Filters-search {
    margin-left: auto;
  }
}

.help-block {
  margin-top: 0;
  font-size: 0.8em;
  color: lightgrey;
}
