.List {
  position: relative;
  margin-bottom: 20px;
}

.List .table-striped > tbody > tr:nth-of-type(2n + 1) {
  background-color: #f0f2f5;
}

.List .label {
  margin: 2.5px;
  display: inline-grid;
}

@media only screen and (max-width: 768px) {
  .List .hide-on-mobile {
    display: none;
  }
}

.List .start-process {
  cursor: pointer;
}

.process-action {
    width: 50px;
    color: #337ab7;
    text-align: center;
}

.List .panel-heading {
  display: flex;
}

.List .panel-heading .panel-title {
  flex: 1;
}

.List-heading-right {
  display: flex;
  float: right;
}

.List-heading-right > .List-pagination-top {
  margin: auto;
}

.List-pagination-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.List-pagination-bottom-element {
  margin-left: 20px;
}

.List-name {
  cursor: pointer;
}

.List-name .glyphicon {
  margin-left: 12px;
  font-size: 10px;
}
