.List {
  position: relative;
  margin-bottom: 60px;
}

.List .table {
  margin-bottom: 20px;
}

.List .table-striped > tbody > tr:nth-of-type(2n + 1) {
  background-color: #f0f2f5;
}

.List .label {
  margin: 2.5px;
}

.List .panel-heading {
  display: flex;
}

.List .panel-heading .panel-title {
  flex: 1;
}

.List-heading-right {
  display: flex;
  float: right;
}
.List-heading-right > .List-pagination-top {
  margin: auto;
}

.List-pagination-bottom {
  float: right;
}

.List-name {
  cursor: pointer;
}

.List-name .glyphicon {
  margin-left: 12px;
  font-size: 10px;
}
